lib/webhook-full-transformation-sample.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bb03783b-5c9e-45ef-a76a-10d5c82ff90b",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -368,
        96
      ],
      "id": "174c0f5a-1ba8-426e-b6b8-7d9b7f8db18e",
      "name": "Webhook",
      "webhookId": "bb03783b-5c9e-45ef-a76a-10d5c82ff90b"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -128,
        16
      ],
      "id": "094cfbb0-ea22-409c-a594-a78f302d5697",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -64,
        240
      ],
      "id": "79e326ce-b310-4a4e-85ce-cf05a61b1f83",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "28sUktFNH4z21vr6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.output.toJsonString() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        224,
        16
      ],
      "id": "91335a6d-2ef2-49ab-bfe5-f502aee8c823",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "c867f0c0f4b0048b4ae56aeb4d1a9bfe1535d1b4b8c09e262aba11290b88728a"
  }
}